button{
    width: 175px;
    margin: 15px;
    font-size: 20px;
    text-align: center;
    background-color: steelblue;
    color: white;
}
h1{
    text-align: center;
    text-decoration-line: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#wrapper{
    margin-left: 15%;
    margin-right: 15%;
    background-image: url("../images/lighter.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* Nice Pun */
#bodyImage{
    background-image: url("../images/background.jpg");
    height: 100%;
    width: 100%;
    position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#textArea,
#triviaArea,
#timeLeft{
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#textArea, 
#endArea,
#timeLeft,
#startArea,
#triviaArea{
    text-align: center;
}
#divQuest{
    margin-left: 11%;
    text-align: left;
}
